
.board {
    display: grid;
    grid-template-columns: repeat(8, 55px);
    
}
.cell {
    width: 55px;
    height: 55px;
    background-color: #eee;
    background-image: url(../assets/img/square.jpg);
    border: 3px solid rgba(168, 130, 24, 0.216);
    background-size: cover;
    background-position: center;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-size: cover;
    filter: brightness(90%);
}
.piece {
    width: 9vw;
    height: 9vw;
    border-radius: 50%;
    margin: 2vw;
    cursor: pointer;
    background-image: url(../assets/img/square.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 0 50pc 70px black;
}
.black {
    background-image: url(../assets/img/square-black.jpg);
    background-size: cover;
    background-position: center;
}

.blackpiece {
    margin: 3px;
    background-image: url(../assets/img/piece-black.svg);
    border: 2px solid rgba(128, 111, 20, 0.616);
    background-size: cover;
    background-position: center;
    animation: all ease 0.3s;
}

.red {
    margin: 3px;
    background-image: url(../assets/img/piece.svg);
    border: 2px solid rgba(128, 111, 20, 0.616);
    animation: all ease 0.3s;
    background-size: cover;
    background-position: center;
}
 /* Estilos de las fichas coronadas */
 .king {
    background-image: url(../assets/img/king-piece.svg);
    background-size: cover;
    background-position: center;
    border: 2px solid rgba(128, 111, 20, 0.616);
    animation: all ease 0.3s;
}
.kingblack {
    background-image: url(../assets/img/king-piece-black.svg);
    background-size: cover;
    background-position: center;
    border: 2px solid rgba(128, 111, 20, 0.616);
    animation: all ease 0.3s;
    filter: grayscale(70%);
}

.selected {
    border-color: white;
    transition: all ease 0.1s;
}

.highlight {
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background-image: url(../assets/img/x.svg);
    filter: opacity(0.8);
    background-position: center;
    display: flex;
    padding: 7px;
    margin: 17px;
    transition: all ease 0.4s;
    }
