@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
  font-weight: 700;
  list-style: none;
  color: white;
}
body {
  background-color: #3e4147;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
  overflow: hidden;
  display: flex;
}

nav {
  display: flex;
  width: max-content;
  height: 100vh;
  background-color: #2f3237;
  vertical-align: middle;
}

main {
  width: 100%;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  line-height: 1.5rem;
  width: 100%;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3vh 1vw 0;
}

.box {
  position: relative;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.right p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4rem;
}
.right span {
  font-weight: 700;
  line-height: 1.4rem;
}

img {
  width: 90px;
}

.top {
  text-align: center;
}
.top h3,
.top img {
  margin: auto;
}
.top {
  display: flex;
  flex-direction: column;
  z-index: 9;
}

.container-play {
  width: 30vw;
  background-color: #36393f;
  height: 70vh;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  display: relative;
  overflow: hidden;
}

.container-play #cicle {
  position: relative;
  background-color: #2f3237;
  border-radius: 50%;
  width: 30vw;
  height: 30vw;
  margin: auto;
  margin-top: -60%;
  margin-bottom: -40%;
  z-index: 1;
}
.play {
  position: relative;
  width: 70%;
  height: 70%;
  padding: 15%;
  align-items: center;
  justify-content: center;
  line-height: 2rem;
  z-index: 3;
}
.play ul li {
  display: flex;
  vertical-align: middle;
  background-color: #2f3237;
  line-height: 1.8rem;
  margin-top: 20px;
  padding: 10px;
  border-radius: 6px;
  z-index: 5;
  transition: all ease 0.3s;
  cursor: pointer;
}

.play ul svg {
  width: 50px;
  height: auto;
}

.play ul .item:hover {
  background-color: #3f4246;
  transform: translateY(-5px);
}

.options img {
  position: relative;
  width: 3.8vw;
  margin-right: 3.5%;
  height: auto;
}

.options .items {
  display: flex;
  padding: 0 10%;
  flex-direction: row;
  vertical-align: middle;
  line-height: 1.8rem;
  width: 100%;
  margin-top: 2vh;
  transition: all ease 0.3s;
  justify-content: center;
  align-items: center;
  padding: 1vh 1.5vw;
  text-align: left;
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.options .items:first-child {
  margin: 0;
}
.options .items:hover {
  background-color: #4d5055;
  transform: translateY(-5px);
  transform: translatex(7px);
}

.box-icon {
  width: 5vw;
}

.unclickable {
  pointer-events: none;
  transition: none;
}

#gamestart, .green {
  display: flex;
  background-color: #3edd29b7;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#message {
  position: absolute;
  width: 30%;
  height: 50%;
  margin: 0;
  left: 25%;
  top: 15%;
  border-radius: 20px;
  background-color: #3d4552;
  padding: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 4;
}

#green-small {
  position: relative;
  display: inline;
  width: 5vw;
  height: auto;
  font-size: 8px;
  border: none;
  padding: 3px;
  border-radius: 5px;
  background-color: #3edd29b7;
}
#ok {
  margin-top: 10vh;
  width: 12vw;
  height: 7vh;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  transition: ease 0.3s;
  cursor: pointer;
}

.redt {
  font-size: 40px;
  display: block;
  color: #f82e2ee8;
  margin: 0;
}

#ok:hover {
  transform: translateY(-5px);
}

.blur {
  filter: blur(2px);
}

.time {
  width: 100%;
  background-color: #2f3237;
  border: none;
  font-size: 16px;
}

.time option {
  border: none;
  background-color: #2f3237;
  width: 100%;
  height: 10px;
}

#cancel {
  background-color: #a73232;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}