@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
  font-weight: 700;
  list-style: none;
  color: white;
}
body {
  background-color: #3e4147;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
  overflow: hidden;
  display: flex;
}

nav {
  width: 10vw;
  height: 100vh;
  background-color: #2f3237;
}

main {
  width: 100%;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.5rem;
  padding: 20px;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3vh 1vw 0;
}

.box {
  position: relative;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.right p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4rem;
}
.right span {
  font-weight: 700;
  line-height: 1.4rem;
}

.left {
  width: 20vw;

}

.play {
  width: 26vw;
  background-color: #36393f;
  height: 60vh;
  border-radius: 16px;
  z-index: -2;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.pf-player {
  display: flex;
  padding-left: 1vw;
}

.pf-player h3 {
  color: white;
  font-size: 1rem;
  margin-left: 10px;
  font-weight: 500;
}

.pfp {
  width: 3vw;
  border-radius: 50%;
  filter: invert(100%);
}

img {
  width: 90px;
}

.play ul li {
  display: flex;
  vertical-align: middle;
  background-color: #2f3237;
  line-height: 1.8rem;
  margin-top: 20px;
  padding: 10px;
  border-radius: 6px;
  z-index: 5;
}

.play ul .item:hover {
  background-color: #41443a;
}

#cicle {
  position: relative;
  background-color: #2f3237;
  border-radius: 50%;
  width: 32vw;
  height: 32vw;
  top: -20%;
  left: 37%;
  z-index: -1;
  margin: -60%;
  margin-top: -78%;  
}

.top h3, .top img {
  display: flex;
}
.top {
  display: flex;
  flex-direction: column;
  z-index: 9;
}

.play ul svg{
  width: 50px;
  height: auto;
}

.play {
  padding: 5%;
  align-items: center;
  justify-content: center;
  line-height: 2rem;
}