@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
  font-weight: 700;
  list-style: none;
  color: white;
}
body {
  background-color: #3e4147;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
  overflow: hidden;
  display: flex;
}

nav {
  width: max-content;
  height: 100vh;
  background-color: #2f3237;
}

main {
  width: 100%;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.5rem;
  width: 100%;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3vh 1vw 0;
}

.box {
  position: relative;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.right p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4rem;
}
.right span {
  font-weight: 700;
  line-height: 1.4rem;
}

.pf-player {
  display: flex;
  padding-left: 1vw;
}

.pf-player h3 {
  color: white;
  font-size: 1rem;
  margin-left: 10px;
  font-weight: 500;
}

.pfp {
  width: 3vw;
  border-radius: 50%;
  filter: invert(100%);
}

img {
  width: 90px;
}

.top {
  text-align: center;
}
.top h3,
.top img {
  margin: auto;
}
.top {
  display: flex;
  flex-direction: column;
  z-index: 9;
}

.container-play {
  width: 30vw;
  background-color: #36393f;
  height: 70vh;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  display: relative;
  overflow: hidden;
}

.container-play #cicle {
  position: relative;
  background-color: #2f3237;
  border-radius: 50%;
  width: 30vw;
  height: 30vw;
  margin: auto;
  margin-top: -60%;
  margin-bottom: -40%;
  z-index: 1;
}
.play {
  position: relative;
  width: 70%;
  height: 70%;
  padding: 15%;
  align-items: center;
  justify-content: center;
  line-height: 2rem;
  z-index: 3;
}
.play ul li {
  display: flex;
  vertical-align: middle;
  background-color: #2f3237;
  line-height: 1.8rem;
  margin-top: 20px;
  padding: 10px;
  border-radius: 6px;
  z-index: 5;
  transition: all ease 0.3s;
}

.play ul svg {
  width: 50px;
  height: auto;
}

.play ul .item:hover {
  background-color: #3f4246;
  transform: translateY(-5px);
}

.options img {
  position: relative;
  width: 4vw;
  margin-right: 3.5%;
}

.options .items {
  display: flex;
  padding: 0 10%;
  flex-direction: row;
  vertical-align: middle;
  line-height: 1.8rem;
  width: 100%;
  margin-top: 4vh;
  transition: all ease 0.3s;
  justify-content: center;
  align-items: center;
  padding: 1vh 1.5vw;
}

.options .items:hover {
  background-color: #3f4246;
  transform: translateY(-5px);
}